html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.container {
	display: flex;
  flex-direction: column;
	height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

#storage {
  background-color: #000000D0;
  color: #FFF;
  border: 1px solid #FFF;
  backdrop-filter: blur(10px);
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  position: absolute;
  left: 0;
}

#view {
  flex: 1;
}

#pannel {
  display: flex;
  width: 100%;
  background-color: #000000D0;
  color: #FFF;
  border: 1px solid #FFF;
  backdrop-filter: blur(10px);
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  position: absolute;
  bottom: 0;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

#control {
  display: flex;
  flex: 0;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

#log {
  padding: 10px;
  height: 228px;
  display: flex;
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: 45px;
}

.v {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.h {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.button {
  margin: 10px;
  padding: 20px;
  width: 50px;
  height: 50px;
  border-radius: 45px;
  border: 2px solid #232;

	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	background-color:#ffc477;
}

.button:hover, .button:active {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	background-color:#fb9e25;
}
