html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.container {
	display: flex;
  flex-direction: column;
	height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

#control {
  display: flex;
  height: 350px;
  width: 100%;
  border: 1px;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

#view {
  flex: 1;
}

.v {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.h {
  display: flex;
  flex: 1;
  flex-direction: row;
}

button {
  flex: 1;
  margin: auto;
	height: 100%;
  min-height: 100%;
}
